<!DOCTYPE html>
<html>
<head>
  <title>Mina</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="background-color: #FF0000">

<%= yield %>

</body>
</html>
